/** {
	border: 1px solid black;
}

/*body {

 margin: 0 auto;
 background: lightblue;
}*/
/*h1, h2 {
 text-align: center;
}*/
/*p {
  text-align: left;
}*/
/*header {
    background-color: #ffa;
    padding: 5px;

}*/

/*nav {
    order: 1;
    flex: 1;
    background-color: #CE9B64;
}*/

/*section {
    display: flex;
    /*flex-wrap: wrap;*/
/*    width: 100%;
    height: 1200px;
    box-sizing: border-box;
}*/
/*article {
    order: 2;
    flex: 3;
    background-color: #BCD39B;
    box-sizing: border-box;
}
*/

/*.gameBoard {
	width: 100vw;
	height: 100vh;
	background: red;
}*/

/*.container {
	background: pink;


}*/

/*.question {
	background: red;
	width: 100%;
	height: 100px;

}*/

/*.answer {
	background: blue;
	width: 100%;
	height: 10%;

}
*/

/*body{
	text-align: center;
}

h1 {
	color: white;

}

div {
	display: inline-block;
	background-color: blue;
	height: 60px;

}*/

/*body {

  text-align: center;
  max-width: auto;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  color: black;
  text-align: center;
  background: yellow;
  margin-top: 0px;
  padding: 5px 0px 5px 0px;

  letter-spacing: .8em;
  /*text-shadow: 2px 2px 4px #108f8b;*/
/*}
a {
	text-decoration: none;
}*/

/*div {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: #108f8b;
  padding: 12px;
  width: 15%;
  color: black;
  height: 60px;
  border-radius: 10px;
  margin-left: 4px;
  margin-top: 4px;
}*/
.newDiv {
	display: inline-block;
	width: 100px;
	backgrond: pink;

}

#score {
	display: flex;
	justify-content: flex-end;
}

#playerScore {


}

.jumbotron {

	background: yellow;
}

    /* mobile layout */
    /* @media (max-width: 480px) { */
   /* @media only screen and (max-width: 520px) {
        section {
            display: flex;
            width: 100%;
        flex-direction: column;
        }

    }*/

/*.navButton {
	height: 50px;
	width: 100%;
}

#yesButton {
	background: green;

}

#noButton {
	background:red;
}*/

