* {
	border: 1px solid black;
}

/*body {

 margin: 0 auto;
 background: lightblue;
}*/
h1, h2 {
 text-align: center;
}
p {
  text-align: left;
}
header {
    background-color: #ffa;
    padding: 5px;

}

nav {
    order: 1;
    flex: 1;
    background-color: #CE9B64;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
}
article {
    order: 2;
    flex: 3;
    background-color: #BCD39B;
}


.gameBoard {
	width: 100vw;
	height: 100vh;
	background: red;
}

footer {
	background: gold;
	height: 100px;
}

.container {
	background: pink;
	box-sizing: border-box;

}

.question {
	background: red;
	width: 125px;
	height: 125px;
}

.answer {
	background: blue;
	width: 100%;
	height: 100%;
}



    /* mobile layout */
    /* @media (max-width: 480px) { */
    @media only screen and (max-width: 520px) {
        section {
            display: flex;
            width: 100%;
        flex-direction: column;
        }
        article { order: 2; }
        nav     { order: 1; }
      aside   { order: 3; }
    }

.navButton {
	height: 50px;
	width: 100%;
}

#yesButton {
	background: green;

}

#noButton {
	background:red;
}

