 body {
	font-family: 'Raleway', sans-serif;
	background: rgb(243,112,33); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(243,112,33,1) 0%, rgba(115,206,226,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(243,112,33,1) 0%,rgba(115,206,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(243,112,33,1) 0%,rgba(115,206,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37021', endColorstr='#73cee2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background: cover;
	height: 100vh;
	min-height: 1000px;
}

.jumbotron {
	background: rgba(100, 96, 170, .3);
	box-shadow: 0px 0px 20px 1px #000;
	color: white;
	letter-spacing: .08em;
	transition: all .9s ease-in-out;
}

.jumbotron:hover {
	background: rgba(100, 96, 175, .4);
	transition: all .9s ease-in-out;
}

#navTop {
	background: rgba(100, 96, 170, .1);
	transition: all .9s ease-in-out;
}

#navTop:hover {
	background: rgba(100, 96, 170, .5);
	box-shadow: 0px 0px 30px 1px #000;

}

#TriviaButton {
    color: white;
    transition: all .2s ease-in-out;
    letter-spacing: .01em;

}

#TriviaButton:hover {
	color: rgb(243, 112, 33);
	transition: all .05s ease-in-out;
	letter-spacing: .03em;
}

#newPlayer {
	color: white;
	transition: all .2s ease-in-out;
}

#newPlayer:hover {
	color: rgb(243, 112, 33);
	transition: all .05s ease-in-out;
	letter-spacing: .03em;
}

#resetButton {
	color: white;
	transition: all .2s ease-in-out;
}

#resetButton:hover {
	color: rgb(243, 112, 33);
	transition: all .2s ease-in-out;
	letter-spacing: .03em;
}

#score {
	color: white;
	transition: all .2s ease-in-out;
}
#score:hover {
	color: red;
	transition: all .2s ease-in-out;
}

#playerScore {
	color: white;
	transition: all .4s ease-in-out;
}

#playerScore:hover {
	color: red;
	transition: all .2s ease-in-out;
}

h5 {
	color: white;
	font-size: 2em;
}

div {
	text-align: center;
}

.col-lg-3 {
	font-family: 'Hammersmith One', sans-serif;
	padding-top: 10px;
	color: rgb(100, 96, 170);
	border-radius: 20px;
	height: auto;
	font-size: 30px;
	font-weight: bold 700;
}

#col0.col-lg-3 div {
	transition: all .6s ease-in-out;
	margin: .5em 0;
	height: 100px;
	padding-top: 20px;
	border-radius: 40px;
	font-size: 40px;
}

#col0.col-lg-3 div:hover {
	transition: all .4s ease-in-out;
	margin: .5em 0;
	background: rgba(100, 96, 170, .5);
	color: rgba(243, 112, 33, 1);
	height: 100px;
	padding-top: 20px;
	border-radius: 10px;
	font-size: 50px;
	border-radius: 50px;
}

#col1.col-lg-3 div {
	transition: all .6s ease-in-out;
	margin: .5em 0;
	background: rgba();
	/*border-radius: 1px;*/
	height: 100px;
	padding-top: 20px;
	border-radius: 40px;
	font-size: 40px;
}

#col1.col-lg-3 div:hover {
	transition: all .4s ease-in-out;
	margin: .5em 0;
	background: rgba(100, 96, 170, .5);
	color: rgba(243, 112, 33, 1);
	height: 100px;
	padding-top: 20px;
	border-radius: 10px;
	font-size: 50px;
	border-radius: 50px;
}

#col2.col-lg-3 div {
	transition: all .6s ease-in-out;
	margin: .5em 0;
	background: rgba();
	/*border-radius: 1px;*/
	height: 100px;
	padding-top: 20px;
	border-radius: 40px;
	font-size: 40px;
}

#col2.col-lg-3 div:hover {
	transition: all .4s ease-in-out;
	margin: .5em 0;
	background: rgba(100, 96, 170, .5);
	color: rgba(243, 112, 33, 1);
	height: 100px;
	padding-top: 20px;
	border-radius: 10px;
	font-size: 50px;
	border-radius: 50px;
}

#col3.col-lg-3 div {
	transition: all .6s ease-in-out;
	margin: .5em 0;
	background: rgba();
	height: 100px;
	padding-top: 20px;
	border-radius: 40px;
	font-size: 40px;
}

#col3.col-lg-3 div:hover {
	transition: all .4s ease-in-out;
	margin: .5em 0;
	background: rgba(100, 96, 170, .5);
	color: rgba(243, 112, 33, 1);
	height: 100px;
	padding-top: 20px;
	border-radius: 10px;
	font-size: 50px;
	border-radius: 50px;
}

